.env
account/__pycache__
main/__pycache__
studentpeeps/__pycache__
account/migrations/__pycache__
main/migrations/__pycache__
scratch
account/Views/__pycache__
brands_v2/views/__pycache__
brands_v2/migrations
brands_v2/__pycache__
accounts_v2/views/__pycache__
accounts_v2/__pycache__
db.sqlite3
__pycache__/
*.py[cod]
staticfiles
utilities/migrations
venv