{% extends 'base.html' %}

{% load static %}

{% block title %}{{seo.title}}{% endblock %}

{% block linkshead %}
<meta name="description" content={{seo.description}}>

<link rel="stylesheet" href="{% static 'css/getcode.css' %}">

{% endblock %}

{% block body %}

<div class="prdouctimg" style="background: {{ offer.background_color }};">
    <img class="final" src="{{ offer.thumbnail_image.url }}" alt="{{ offer.custom_id }}">
</div>


<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{{ brand.logo.url }}" alt="{{ offer.custom_id }}">
        </div>

        <div class="content">
            <h1>{{ offer.title }}</h1>
            <p><a href="{{ brand.website }}" target="_blank">at {{ brand.name }}</a></p>
        </div>

        {% if offer.isExclusive %}
        <div class="button d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-primary" id="getCodeButton">Get Code</a>
        </div>
        {% else %}
        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="{{ offer.offer_link }}" target="_blank">Go to Offer</a>
        </div>
        {% endif %}

        <hr>

        <div class="contenttext">
            <p>
                {{ offer.about|safe }}
            </p>
        </div>

        <hr>


        {% if offer.redemption %}
        <div class="contenttext">
            <p>
                {{ offer.redemption|safe }}
            </p>
        </div>

        <hr>
        {% endif %}

        <div class="contenttext">
            <p>
                {{ offer.tnc|safe }}
            </p>
        </div>
    </div>
</center>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const getCodeButton = document.getElementById("getCodeButton");
        if (getCodeButton) {
            getCodeButton.addEventListener("click", function (e) {
                e.preventDefault();

                {% if redirect_offer_link %}
                window.open("{{ redirect_offer_link }}", "_blank");
                {% endif %}

                window.location.href = "{% url 'get_code' brand.slug offer.custom_id %}";
            });
        }
    });
</script>


{% endblock %}